<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="autocard">
                <form id="cadastroForm" class="form-signin" method="post" action="<%=locals.revisao?'/editarRevisao':'/cadastroRevisao'%>">
                    <%
                        if (locals.revisao) {
                            %>
                            <input type="hidden" name="id" value="<%=locals.revisao.id%>">
                            <%
                        }
                    %>
                    <label for="modelo">Modelo:</label>
                    <select class="form-control" name="modelo">
                        <% locals.carros.forEach(function (carro) {
                            %>
                            <option value="<%=carro.id%>" <%=locals.revisao && locals.revisao.modelo_id == carro.id?'selected':''%>><%=carro.marca + ' ' + carro.modelo%></option>
                            <%
                        });%>
                    </select>
                    <br>
                    <label for="quilometragem">Quilometragem:</label>
                    <input type="number" class="form-control" placeholder="Quilometragem" name="quilometragem" <%=locals.revisao?'value='+locals.revisao.quilometragem:''%> required>
                    <br>
                    <label for="especialidade">Especialidade:</label>
                    <select class="form-control" name="especialidade">
                        <% locals.especialidades.forEach(function (espec) {
                            %>
                            <option value="<%=espec.id%>" <%=locals.revisao && locals.revisao.especialidade_id == espec.id?'selected':''%>><%=espec.nome%></option>
                            <%
                        });%>
                    </select>
                    <br>
                    <label for="preco">Preço:</label>
                    <input type="number" class="form-control" placeholder="Preço" name="preco" <%=locals.revisao?'value='+locals.revisao.preco:''%> required>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit"><%=locals.revisao?'Salvar':'Cadastrar'%></button>
                </form>
                <% if(locals.revisao) { %>
                    <form action="/excluirRevisao" method="post" style="padding: 15px">
                        <input type="hidden" name="id" value="<%= locals.revisao.id %>">
                        <button class="btn btn-lg btn-block btn-danger" type="submit">Excluir</button>
                    </form>
                <% } %>
                <% if (locals.query && locals.query.err) { %>
                <div>Ocorreu um erro inesperado.</div>
                <% } %>
            </div>

            <br>

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Peças utilizadas</h3>
                    <table class="table" id="pecasTable">
                        <thead>
                            <th>Peça</th>
                            <th>Quantidade</th>
                            <th></th>
                        </thead>
                    </table>
                    <h4>Nova peça:</h4>
                    <form id="adicionarPeca">
                        <label>Peça:</label>
                        <select name="novaPeca" class="form-control">
                            <% locals.pecas.forEach(function(peca) {
                                %>

                                <option value="<%=peca.id%>"><%=peca.nome + ' - R$ ' + peca.valor.toFixed(2)%></option>

                                <%
                            }); %>
                        </select>
                        <br>
                        <label>Quantidade</label>
                        <input type="number" name="novaPecaQtd" class="form-control">
                        <br>
                        <button type="submit" class="btn btn-primary">Adicionar</button>
                    </form>
                </div>
            </div>

        </div>
    </div>
</main>
<script type="text/javascript">
    var pecas = [];
    (function() {
    <% locals.pecas.forEach(function(peca) {
        %> pecas.push({id:<%=peca.id%>, nome:'<%=peca.nome%>'}); <%
    }); %>
    })();
    var pecasAssociadas = [];
    var pecasFinais = [];
    function adicionarPecaTable (peca, nome, qtd) {
        $('#pecasTable').append('<tr><td>'+nome+'</td><td>'+qtd+'</td><td><span class="excluirPeca" style="cursor: pointer;" pecaId="'+peca+'">Excluir</span></td></tr>');
                
    }
    <%
        if (locals.revisao) {
            %>
            (function() {
            <%
            locals.revisao.pecasAssociadas.forEach(function (peca) {
            %>
                pecasAssociadas.push(<%=peca.id%>);
                pecasFinais.push({peca:<%=peca.id%>, nome:'<%=peca.nome%>', qtd:<%=peca.quantidade%>});
                adicionarPecaTable(<%=peca.id%>, '<%=peca.nome%>', <%=peca.quantidade%>);
            <%
            });
            %>
        })();
            <%
        }

    %>
    $('#adicionarPeca').submit(function (evt) {
        var peca = Number.parseInt($('select[name=novaPeca]').val());
        var qtd = Number.parseInt($('input[name=novaPecaQtd]').val());
        if (!qtd || qtd < 1) {
            alert('Coloque uma quantidade maior que 1');
        } else {
            if (pecasAssociadas.indexOf(peca) == -1) {
                pecasAssociadas.push(peca);
                var pecaObj = $.grep(pecas, function(e){return e.id==peca});
                pecasFinais.push({peca: peca, nome: pecaObj[0].nome, qtd: qtd});
                adicionarPecaTable(peca, pecaObj[0].nome, qtd);
            }
            else {
                alert('Peça já adicionada');
            }
        }
        evt.target.reset();
        evt.preventDefault();
    });
    $(document).on('click', '.excluirPeca', function(evt) {
        console.log();
        $(evt.target).closest('tr').remove();
        var index = pecasAssociadas.indexOf(Number.parseInt($(evt.target).attr('pecaId')));
        pecasAssociadas.splice(index, 1);
        pecasFinais.splice(index, 1);
    });
    $('#cadastroForm').submit(function (evt) {
        pecasFinais.forEach(function (peca, index) {
            $('#cadastroForm').append('<input type="hidden" value="'+peca.peca+'" name="peca['+index+']"><input type="hidden" value="'+peca.qtd+'" name="qtd['+index+']">');
        });
    });
</script>
</body>
</html>