<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <% if (locals.tipo) {
        tipo = locals.tipo;
    } else {
        tipo = {};
    } %>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <div class="autoCard">
                <form class="form-signin" method="post" action="<%= !locals.tipo?"/cadastroTipoDeServico":"/editarTipoDeServico" %>">
                    <% if (locals.tipo) { %>
                    <input type="hidden" name="id" value="<%= locals.tipo.id %>">
                    <% } %>
                    <!--<form class="form-signin" method="post" action="/signUp">-->
                    <label for="nome">Nome:</label>
                    <input type="text" class="form-control" placeholder="Nome" name="nome"
                           value="<%= locals.tipo?tipo.nome:'' %>" required autofocus>
                    <br>
                    <label for="preco">Preço:</label>
                    <input type="number" class="form-control" placeholder="Preço" name="preco"
                           value="<%= locals.tipo?tipo.preco:'' %>" required>
                    <br>
                    <label for="duracao">Duração:</label>
                    <input type="number" class="form-control" placeholder="Duração"
                           name="duracao" value="<%= locals.tipo?tipo.duracao:'' %>"
                           required>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">
                        <% if (!locals.tipo){ %>
                        Cadastrar
                        <% } else { %>
                        Salvar
                        <% } %>
                    </button>
                </form>
                <% if(locals.tipo) { %>
                    <form action="/excluirTipoDeServico" method="post" style="padding: 15px">
                        <input type="hidden" name="id" value="<%= locals.tipo.id %>">
                        <button class="btn btn-lg btn-block btn-danger" type="submit">Excluir</button>
                    </form>
                <% } %>

                <% if (locals.query && locals.query.err) { %>
                <div>Ocorreu um erro inesperado.</div>
                <% } %>
            </div>
        </div>
    </div>
</main>

</body>
</html>