<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <% func = locals.func;
    switch (func.permissao) {
        case 1:
            func.funcao = 'Atendente';
            break;
        case 2:
            func.funcao = 'Técnico';
            break;
        case 3:
            func.funcao = 'Mecânico';
            break;
    } %>

    <div class="tabela-autocar">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Função</th>
                        <th>Email</th>
                        <th>Endereço</th>
                        <th>Função</th>
                        <% if (func.permissao == 3) { %>
                        <th>Especialidade</th>
                        <% } %>
                    </tr>
                    </thead>
                    <tr>
                        <td><%= func.nome %></td>
                        <td><%= func.email %></td>
                        <td><%= func.telefone %></td>
                        <td><%= func.endereco %></td>
                        <td><%= func.funcao %></td>
                        <% if (func.permissao == 3) { %>
                        <td><%= func.espec %></td>
                        <% } %>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <a href="/editarFuncionario?id=<%= func.id %>" class="btn btn-sm btn-primary text-center">
        Editar
    </a>
</main>
</body>
</html>