<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
  <h1>Ordem de Serviço - <%= os_id %></h1>
  <div class="col-md-4">
    <h3>Cliente: <%= order.nome %></h3>
    <ul>
      <li>Email: <%= order.email %></li>
      <li>Telefone: <%= order.telefone %></li>
      <li>Endereço: <%= order.endereco %></li>
    </ul>
    <h3>Automóvel:</h3>
    <ul>
      <li><b>Placa:</b> <%= order.placa %></li>
      <li><b>Modelo:</b> <%= order.modelo %></li>
      <li><b>Marca:</b> <%= order.marca %></li>
      <li><b>Ano:</b> <%= order.ano %></li>
      <li><b>Quilometragem:</b> <%= order.quilometragem %></li>
      <li><b>Renavan:</b> <%= order.renavan %></li>
    </ul>
    <h3 style="display: inline"><%= time.e_nome + '-' + time.e_esp%></h3>
    <a style="cursor: pointer" id="btn-editar-equipe" data-toggle="modal" data-target="#equipe_modal"><i class="fa fa-pencil" data-toggle="tooltip" title="Editar"></i></a>
    <ul>
      <li><b><%= time.f1_nome %></b><br>Especialidade: <%= time.f1_esp %></li>
      <li><b><%= time.f2_nome %></b><br>Especialidade: <%= time.f2_esp %></li>
    </ul>
  </div>

  <div class="modal fade" id="equipe_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Alterar equipe</h4>
        </div>
        <div class="modal-body">
            <h3>Equipe sugerida:</h4>
            <div id="sugerida-loading" style="display:none"><img src="img/loading_16x16.gif"></div>
            <div id="equipe-sugerida"></div>
            <h3>Escolher equipe</h4>
              <form method="post" id="equipe-form" action="/os/editarEquipe/<%=os_id%>">
                <select id="equipe-select" class="form-control" name="equipe">

                </select>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
          <button type="submit" class="btn btn-primary">Salvar</button>
            </form>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="col-md-8">
    <%
      switch(order.status) {
          case 0:
              status = 'CRIADO'
              break;
          case 1:
              status = 'AUTORIZADO'
              break;
          case 2:
              status = 'SUSPENSO'
              break;
          case 3:
              status = 'CANCELADO'
              break;
          case 4:
              status = 'CONCLUIDO'
              break;
          default:
              status = 'ERROR'
      }
   %>
    <h3>Detalhes do Serviço - <%= status %></h3>
    <ul>
      <%
        hora = order.horario.getDate() +'/'+ ("0" + (order.horario.getMonth() + 1)).slice(-2) +'/'+order.horario.getFullYear();
        emi = order.data_emissao.getDate() +'/'+ ("0" + (order.data_emissao.getMonth() + 1)).slice(-2) +'/'+order.data_emissao.getFullYear();
        if (order.data_conclusao) {
        conc = order.data_conclusao.getDate() +'/'+ ("0" + (order.data_conclusao.getMonth() + 1)).slice(-2) +'/'+order.data_conclusao.getFullYear();
        } else {
          conc = '---';
        }
        precoIdeal = 0;
        servicos.forEach(function(servico) { precoIdeal += servico.preco; });
        pecas.forEach(function(peca) { precoIdeal += peca.valor; });
      %>
      <% if (user.permissao == 4) { %>
        <li>Data de Emissão: <%= emi %></li>
        <li>Data de Conclusão: <%= conc %></li>
        <li>Preço: <%= order.preco %> de <%= precoIdeal %></li>
      <% } %>
      <li>Horário: <%= hora %></li>
      <li>Tipo: <%= order.tipo == 1 ? 'revisão' : 'normal' %></li>
      <li>Descrição: <%= order.descricao %></li>
    </ul>
    <h4>Serviços</h4>
    <ul>
      <% servicos.forEach(function(servico) { %>
        <li><%= servico.nome %></li>
      <% }); %>
    </ul>
    <h4>Peças</h4>
    <ul>
      <% pecas.forEach(function(peca) { %>
        <li><%= peca.nome + '-' + peca.quantidade%></li>
      <% }); %>
    </ul>
  </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>

<script>
  
  $('#btn-editar-equipe').click(function (evt) {
    var loading = $('#sugerida-loading');
    $.ajax({
      type: "GET",
      url: "/api/os/equipeSugerida/<%=os_id%>",
      beforeSend: function () {
        loading.fadeIn(50);
      },
      success: function(data) {
        loading.fadeOut(50);
        var sugeridaSpan = $('#equipe-sugerida');
        sugeridaSpan.append('<b>'+data.nome+'</b>');
        sugeridaSpan.append("<br>Mecânicos:");
        sugeridaSpan.append("<ul><li>"+data.f1_nome+"</li><li>"+data.f2_nome+"</li></ul>");
      },
      error: function() {
        $('#equipe-sugerida').append("Ocorreu um erro");
      }
    });

    $.ajax({
      type: "GET",
      url: "/api/os/equipes",
      success: function (data) {
        var equipe_select = $('#equipe-select');
        data.forEach(function (equipe) {
          equipe_select.append('<option value="'+equipe.id+'">'+equipe.nome+' - '+equipe.funcionario1+'/'+equipe.funcionario2+'</option>');
        });
      }
    });

  });


</script>
</body>
</html>