<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
  <h1>Ordem de Serviço - <%= os_id %></h1>
  <div class="col-md-4">
    <h3>Cliente: <%= order.nome %></h3>
    <ul>
      <li>Email: <%= order.email %></li>
      <li>Telefone: <%= order.telefone %></li>
      <li>Endereço: <%= order.endereco %></li>
    </ul>
    <h3>Automóvel:</h3>
    <ul>
      <li><b>Placa:</b> <%= order.placa %></li>
      <li><b>Modelo:</b> <%= order.modelo %></li>
      <li><b>Marca:</b> <%= order.marca %></li>
      <li><b>Ano:</b> <%= order.ano %></li>
      <li><b>Quilometragem:</b> <%= order.quilometragem %></li>
      <li><b>Renavan:</b> <%= order.renavan %></li>
    </ul>
    <h3><%= time.e_nome + ' - ' + time.e_esp%></h3>
    <ul>
      <li><b><%= time.f1_nome %></b></li>
      <li><%= time.f1_esp %></li>
      <li><b><%= time.f2_nome %></b></li>
      <li><%= time.f2_esp %></li>
    </ul>
  </div>
  <div class="col-md-8">
    <%
      switch(order.status) {
          case 0:
              status = 'CRIADO'
              break;
          case 1:
              status = 'AUTORIZADO'
              break;
          case 2:
              status = 'SUSPENSO'
              break;
          case 3:
              status = 'CANCELADO'
              break;
          case 4:
              status = 'CONCLUIDO'
              break;
          default:
              status = 'ERROR'
      }
   %>
    <h3>Detalhes do Serviço - <%= status %>
    <% switch(order.status) {
          case 0:
      %>
      <a href="/os/autorizado/<%= order.id %>">
          <i class="fa fa-play" data-toggle="tooltip" title="Autorizar"></i>
      </a>
      <a href="/os/suspenso/<%= order.id %>">
          <i class="fa fa-pause" data-toggle="tooltip" title="Suspender"></i>
      </a>
      <% if (user.permissao == 4) {%>
      <a href="/os/cancelado/<%= order.id %>">
          <i class="fa fa-stop" data-toggle="tooltip" title="Cancelar"></i>
      </a>
      <% } %>
      <a href="/os/feito/<%= order.id %>">
          <i class="fa fa-check" data-toggle="tooltip" title="Feito"></i>
      </a>
      <% break;%>
          <% case 1:%>
      <a href="/os/suspenso/<%= order.id %>">
          <i class="fa fa-pause" data-toggle="tooltip" title="Suspender"></i>
      </a>
      <% if (user.permissao == 4) {%>
      <a href="/os/cancelado/<%= order.id %>">
          <i class="fa fa-stop" data-toggle="tooltip" title="Cancelar"></i>
      </a>
      <% } %>
      <a href="/os/feito/<%= order.id %>">
          <i class="fa fa-check" data-toggle="tooltip" title="Feito"></i>
      </a>
      <% break;%>
          <% case 2:%>
      <a href="/os/autorizado/<%= order.id %>">
          <i class="fa fa-play" data-toggle="tooltip" title="Autorizar"></i>
      </a>
      <% if (user.permissao == 4) {%>
      <a href="/os/cancelado/<%= order.id %>">
          <i class="fa fa-stop" data-toggle="tooltip" title="Cancelar"></i>
      </a>
      <% } %>
      <% break;%>
      <% } %>
      </h3>
    <ul>
      <%
        hora = order.horario.getDate() +'/'+ ("0" + (order.horario.getMonth() + 1)).slice(-2) +'/'+order.horario.getFullYear();
        emi = order.data_emissao.getDate() +'/'+ ("0" + (order.data_emissao.getMonth() + 1)).slice(-2) +'/'+order.data_emissao.getFullYear();
        if (order.data_conclusao) {
        conc = order.data_conclusao.getDate() +'/'+ ("0" + (order.data_conclusao.getMonth() + 1)).slice(-2) +'/'+order.data_conclusao.getFullYear();
        } else {
          conc = '---';
        }
        precoIdeal = 0;
        servicos.forEach(function(servico) { precoIdeal += servico.preco; });
        pecas.forEach(function(peca) { precoIdeal += peca.valor; });
      %>
      <% if (user.permissao == 4) { %>
        <li>Data de Emissão: <%= emi %></li>
        <li>Data de Conclusão: <%= conc %></li>
        <li>Preço: <%= order.preco %> de <%= precoIdeal %></li>
      <% } %>
      <li>Horário: <%= hora %></li>
      <li>Tipo: <%= order.tipo == 1 ? 'revisão' : 'normal' %></li>
      <li>Descrição: <%= order.descricao %></li>
    </ul>
    <h4>Serviços</h4>
    <ul>
      <% servicos.forEach(function(servico) { %>
        <li><%= servico.nome %></li>
      <% }); %>
    </ul>
    <h4>Peças</h4>
    <ul>
      <% pecas.forEach(function(peca) { %>
        <li><%= peca.nome + ' - ' + peca.quantidade%></li>
      <% }); %>
    </ul>
  </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>