<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <% func = locals.func;
    switch (func.permissao) {
        case 1:
            func.funcao = 'Atendente';
            break;
        case 2:
            func.funcao = 'Técnico';
            break;
        case 3:
            func.funcao = 'Mecânico';
            break;
    } %>

    <div class="tabela-funcionarios">
        <div class="row">
            <div class="col-xs-2 col-sm-4 col-md-10">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Função</th>
                        <th>Email</th>
                        <th>Endereço</th>
                        <th>Função</th>
                        <% if (func.permissao == 3) { %>
                        <th>Nome</th>
                        <% } %>
                    </tr>
                    </thead>
                    <tr>
                        <td><%= func.nome %></td>
                        <td><%= func.email %></td>
                        <td><%= func.telefone %></td>
                        <td><%= func.endereco %></td>
                        <td><%= func.funcao %></td>
                        <% if (func.permissao == 3) { %>
                        <td><%= func.nome %></td>
                        <% } %>
                    </tr>
                </table>

            </div>
        </div>
    </div>
    <a href="/editarFuncionario?id=<%= func.id %>" class="btn btn-sm btn-primary text-center">
        Editar
    </a>
    <!-- -->
    <!--<div class="row">-->
    <!--<div class="col-sm-6 col-md-4 col-md-offset-4">-->
    <!--<div>-->
    <!--<span class="col-sm-6 text-right"><bold>Nome<bold></span>-->
    <!--<span class="col-sm-6"><%= func.nome %></span>-->
    <!--<span class="col-sm-6 text-right"><bold>Email<bold></span>-->
    <!--<span class="col-sm-6"><%= func.email %></span>-->
    <!--<span class="col-sm-6 text-right"><bold>Telefone<bold></span>-->
    <!--<span class="col-sm-6"><%= func.telefone %></span>-->
    <!--<span class="col-sm-6 text-right"><bold>Endereço<bold></span>-->
    <!--<span class="col-sm-6"><%= func.endereco %></span>-->
    <!--<span class="col-sm-6 text-right"><bold>Função<bold></span>-->
    <!--<span class="col-sm-6"><%= func.funcao %></span>-->
    <!--<% if (func.permissao == 3) { %>-->
    <!--<span class="col-sm-6 text-right"><bold>Nome<bold></span>-->
    <!--<span class="col-sm-6"><%= func.nome %></span>-->
    <!--<% } %>-->
    <!--<a href="/editarFuncionario?id=<%= func.id %>"><button>Editar</button></a>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</main>
</body>
</html>