<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Lista de Funcionários AutoCar</h2>
        </div>
    </div>
    <div class="tabela-autocar">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Função</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Ação</th>
                    </tr>
                    </thead>
                    <% if (locals.erro) {
                    %>
                    <%= locals.erro %>
                    <%
                    }
                    else {

                            locals.funcs.forEach(function(func) {
                        switch (func.permissao) {
                            case 1:
                                func.funcao = 'Atendente';
                                break;
                            case 2:
                                func.funcao = 'Técnico';
                                break;
                            case 3:
                                func.funcao = 'Mecânico';
                                break;
                        }
                    %>

                    <tr>
                        <td><a href="/detalheFuncionario?id=<%= func.id %>"><%= func.nome %></a></td>
                        <td><%= func.funcao %></td>
                        <td><%= func.email %></td>
                        <td><%= func.telefone %></td>
                        <td><a href="/editarFuncionario?id=<%= func.id %>">Editar</a>
                    </tr>

                    <%
                    });
                    }
                    %>
                </table>
                <a href="/cadastroFuncionario"><button class="btn btn-large btn-primary">Cadastrar</button></a>
            </div>
        </div>
    </div>
</main>

</body>
</html>