<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-10">
            <h2>Lista de Ordens de Serviço</h2>
        </div>
    </div>
    <div class="tabela-funcionarios">
        <div class="row">
            <div class="col-xs-2 col-sm-4 col-md-10">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Equipe</th>
                        <th>Automóvel</th>
                        <th>Horário</th>
                        <th>Preço</th>
                        <th>Tipo</th>
                        <th>Situação</th>
                        <th>Opções</th>
                    </tr>
                    </thead>
                    <% orders.forEach(function(os){%>
                        <tr>
                            <th><%= os.nome %></th>
                            <th><%= os.placa %></th>
                            <th><%= os.horario %></th>
                            <th>R$ <%= os.preco.toFixed(2) %></th>
                            <th><%= os.tipo == 1? 'revisão' : 'normal' %></th>
                            <th><%= os.status %></th>
                            <th>
                                <a href="/os/detalhes/<%= os.id %>">
                                    <i class="fa fa-wrench" data-toggle="tooltip" title="Detalhes"></i>
                                </a>
                                <a href="/os/feito/<%= os.id %>">
                                    <i class="fa fa-check" data-toggle="tooltip" title="Feito"></i>
                                </a>
                            </th>
                        </tr>
                    <%})%>
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
