<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Lista de Ordens de Serviço</h2>
        </div>
    </div>
    <div class="tabela-autocar">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Equipe</th>
                        <th>Automóvel</th>
                        <th>Horário</th>
                        <th>Preço</th>
                        <th>Especialidade</th>
                        <th>Situação</th>
                        <th>Opções</th>
                    </tr>
                    </thead>
                    <% orders.forEach(function(os){ %>
                        <tr>
                            <%
                                hora = ("0" + os.horario.getDate()).slice(-2) +'/'+ ("0" + (os.horario.getMonth() + 1)).slice(-2) +'/'+os.horario.getFullYear() + ' às ' + ("0" + os.horario.getHours()).slice(-2) + ':' + ("0" + os.horario.getMinutes()).slice(-2);
                                switch(os.status) {
                                    case 0:
                                        status = 'CRIADO'
                                        break;
                                    case 1:
                                        status = 'AUTORIZADO'
                                        break;
                                    case 2:
                                        status = 'SUSPENSO'
                                        break;
                                    case 3:
                                        status = 'CANCELADO'
                                        break;
                                    case 4:
                                        status = 'CONCLUIDO'
                                        break;
                                    default:
                                        status = 'ERROR'
                                }
                             %>
                            <td><%= os.nome %></td>
                            <td><%= os.placa %></td>
                            <td><%= hora %></td>
                            <td>R$ <%= os.preco.toFixed(2) %></td>
                            <td><%= os.espec %></td>
                            <td><%= status %></td>
                            <td>
                                <a href="/os/detalhes/<%= os.id %>">
                                    <i class="fa fa-wrench" data-toggle="tooltip" title="Detalhes"></i>
                                </a>
                                <% switch(os.status) {
                                    case 0:
                                %>
                                <a href="/os/autorizado/<%= os.id %>">
                                    <i class="fa fa-play" data-toggle="tooltip" title="Autorizar"></i>
                                </a>
                                <a href="/os/suspenso/<%= os.id %>">
                                    <i class="fa fa-pause" data-toggle="tooltip" title="Suspender"></i>
                                </a>
                                <% if (user.permissao == 4) {%>
                                <a href="/os/cancelado/<%= os.id %>">
                                    <i class="fa fa-stop" data-toggle="tooltip" title="Cancelar"></i>
                                </a>
                                <% } %>
                                <a href="/os/feito/<%= os.id %>">
                                    <i class="fa fa-check" data-toggle="tooltip" title="Feito"></i>
                                </a>
                                <% break;%>
                                    <% case 1:%>
                                <a href="/os/suspenso/<%= os.id %>">
                                    <i class="fa fa-pause" data-toggle="tooltip" title="Suspender"></i>
                                </a>
                                <% if (user.permissao == 4) {%>
                                <a href="/os/cancelado/<%= os.id %>">
                                    <i class="fa fa-stop" data-toggle="tooltip" title="Cancelar"></i>
                                </a>
                                <% } %>
                                <a href="/os/feito/<%= os.id %>">
                                    <i class="fa fa-check" data-toggle="tooltip" title="Feito"></i>
                                </a>
                                <% break;%>
                                    <% case 2:%>
                                <a href="/os/autorizado/<%= os.id %>">
                                    <i class="fa fa-play" data-toggle="tooltip" title="Autorizar"></i>
                                </a>
                                <% if (user.permissao == 4) {%>
                                <a href="/os/cancelado/<%= os.id %>">
                                    <i class="fa fa-stop" data-toggle="tooltip" title="Cancelar"></i>
                                </a>
                                <% } %>
                                <% break;%>
                                    <% case 3:%>
                                <% if (user.permissao == 4 && os.recover == 1) {%>
                                <a href="/os/autorizado/<%= os.id %>">
                                    <i class="fa fa-play" data-toggle="tooltip" title="Autorizar"></i>
                                </a>
                                <% } %>
                                <% break;%>
                                <% } %>
                            </td>
                        </tr>
                    <% }); %>
                </table>
                <% if (!todos && user.permissao == 4) {%>
                <a href="/os/todos">
                    <button class="btn btn-primary btn-sm">Listar Todos</button>
                </a>
                <% } else if (todos) {%>
                <a href="/os">
                    <button class="btn btn-primary btn-sm">Ocultar Antigos/Cancelados/Concluídos</button>
                </a>
                <% } %>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
