<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <table class="table-bordered">
                <tr>
                    <th>Nome</th>
                    <th>Função</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th></th>
                </tr>
                <% if (locals.erro) {
                    %>
                    <%=locals.erro%>
                    <%
                } 
                else {

                    locals.funcs.forEach(function(func) {
                        switch (func.permissao) {
                            case 1: func.funcao = 'Atendente'; break;
                            case 2: func.funcao = 'Técnico'; break;
                            case 3: func.funcao = 'Mecânico'; break;
                        }
                        %>

                        <tr>
                            <td><a href="/detalheFuncionario?id=<%=func.id%>"><%=func.nome%></a></td>
                            <td><%=func.funcao%></td>
                            <td><%=func.email%></td>
                            <td><%=func.telefone%></td>
                            <td><a href="/editarFuncionario?id=<%=func.id%>">Editar</a></td>
                        </tr>
                        <%
                        });
                }
                %>
            </table>
        </div>
    </div>
</main>

</body>
</html>