<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Lista de Equipes AutoCar</h2>
        </div>
    </div>
    <div class="tabela-autocar">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Especialidade</th>
                        <th>Próximo horário disponível</th>
                        <th>Mecânico</th>
                        <th>Mecânico</th>
                        <th>Ação</th>
                    </tr>
                    </thead>
                    <%    locals.equipes.forEach(function(equipe) {     %>
                        <%
                            ph = equipe.proximo_horario;
                            hora = ("0" + ph.getDate()).slice(-2) +'/'+ ("0" + (ph.getMonth() + 1)).slice(-2) +'/'+ph.getFullYear() + ' às ' + ("0" + ph.getHours()).slice(-2) + ':' + ("0" + ph.getMinutes()).slice(-2);
                        %>

                    <tr>
                        <td><%= equipe.nome %></td>
                        <td><%= equipe.nome_especialidade %></td>
                        <td><%= hora %></td>
                        <td><%= equipe.funcionario1 %></td>
                        <td><%= equipe.funcionario2 %></td>
                        <td><a href="/editarEquipe?id=<%= equipe.id %>">Editar</a>
                    </tr>
                    <%
                    });
                    %>
                </table>
                <a href="/cadastroEquipe"><button class="btn btn-large btn-primary">Cadastrar</button></a>
            </div>
        </div>
    </div>
</main>

</body>
</html>