<!DOCTYPE html>

<html>
	<head>

		<% include ../partials/head %>

		<%

		if (locals.redir != null) {

			%>
		<meta http-equiv="refresh" content="5; <%= locals.redir %>">
			<%

		}

		%>

	</head>

	<body class="container">

	<header>
	    <% include ../partials/header %>
	</header>

	<br><br>

		<div align="center">
			<div class="panel panel-<%= locals.tipo %>" style="width:50%">
				<div class="panel-heading">
					<h3 class="panel-title"><%= locals.titulo %></h3>
				</div>
				<div class="panel-body">
					<%= locals.mensagem %>
					<% 
					if (locals.redir != null) {

						%>
						<br><br>
						<div align="center">
							<img src="/img/loading_16x16.gif">
							<br>
							Você está sendo redirecionado. <a href="<%= locals.redir %>">Clique aqui</a> se não quiser esperar
						</div>
						<%

					}
					%>
				</div>
		</div>

	</body>
</html>