<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-10">
            <h2>Lista de Ordens de Serviço</h2>
        </div>
    </div>
    <div class="tabela-funcionarios">
        <div class="row">
            <div class="col-xs-2 col-sm-4 col-md-10">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Equipe</th>
                        <th>Automóvel</th>
                        <th>Horário</th>
                        <th>Preço</th>
                        <th>Tipo</th>
                        <th>Situação</th>
                    </tr>
                    </thead>
                    <% orders.forEach(function(os){%>
                        <tr>
                            <th><%= os.equipe_id %></th>
                            <th><%= os.automovel_id %></th>
                            <th><%= os.horario %></th>
                            <th><%= os.preco %></th>
                            <th><%= os.tipo %></th>
                            <th><%= os.status %></th>
                        </tr>
                    <%})%>
                </table>
            </div>
        </div>
    </div>
</main>
<footer>
    <% include ../partials/footer %>
</footer>
</body>
</html>
