<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
<header>
    <% include ../partials/header %>
</header>
<main>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center login-title">Relatórios estatísticos</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <h4 class="text-center">Escolha o gráfico que deseja visualizar:</h4>

        <div class="col-xs-6 col-xs-offset-3">

            <select class="form-control" name="tipo">
                <option value="1">OS concluídas x Mês</option>
                <option value="2">Funcionários x Tipo</option>
                <option value="3">Funcionários x Especialidade</option>
                <option value="4">Faturamento x Mês</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div id="os-concluida-mes" class="graph-container">
            <h2 class="text-center">OS concluídas x Mês</h2>
            <figure style="width: 80%; height: 300px; margin:0 auto 0 auto" id="osmes"></figure>
        </div>
        <div id="func-tipo" class="graph-container">
            <h2 class="text-center">Quantidade de Funcionários x Tipo</h2>
            <figure style="width: 80%; height: 300px; margin:0 auto 0 auto" id="functipo"></figure>
        </div>
        <div id="func-espec" class="graph-container">
            <h2 class="text-center">Quantidade de Funcionários x Especialidade</h2>
            <figure style="width: 80%; height: 300px; margin:0 auto 0 auto" id="funcespec"></figure>
        </div>
        <div id="lucro-mes" class="graph-container">
            <h2 class="text-center">Faturamento (R$) x Mês</h2>
            <figure style="width: 80%; height: 300px; margin:0 auto 0 auto" id="lucromes"></figure>
        </div>
    </div>
</main>
<footer>


    <% include ../partials/footer %>
</footer>
<script type="text/javascript">

    var data = {
        "xScale": "ordinal",
        "yScale": "linear",
        "type": "bar",
        "main": [
            {
                "className": ".pizza",
                "data": [
                    <% osmes.forEach(function(os){%>
                        <% if(os.status == 4){ %>
                        {"x":"<%=os.ano + '/' + ('0' + os.mes).slice(-2)%>", "y":<%= os.total%>},
                    <%}}); %>
                ]
            }
        ]
    };
    var data2 = {
        "xScale": "ordinal",
        "yScale": "linear",
        "type": "bar",
        "main": [
            {
                "className": ".pizza",
                "data": [
                    <% functype.forEach(function(fc){%>
                        {"x":"<%= fc.permissao == 1? "atendente":fc.permissao == 2? "técnico": "mecânico" %>", "y":<%= fc.total%>},
                    <%}); %>
                ]
            }
        ]
    };
    var data3 = {
        "xScale": "ordinal",
        "yScale": "linear",
        "type": "bar",
        "main": [
            {
                "className": ".pizza",
                "data": [
                    <% funcspec.forEach(function(fc){%>
                    {"x":"<%= fc.nome %>", "y":<%= fc.total%>},
                    <%}); %>
                ]
            }
        ]
    };
    var data4 = {
        "xScale": "ordinal",
        "yScale": "linear",
        "type": "line-dotted",
        "main": [
            {
                "className": ".pizza",
                "data": [
                    <% moneymonth.forEach(function(money){%>
                    {"x":"<%=money.ano +'/'+ money.mes %>", "y":<%= money.total%>},
                    <%}); %>
                ]
            }
        ]
    };

    var myChart = new xChart('bar', data, '#osmes');
    var myChart = new xChart('bar', data2, '#functipo');
    var myChart = new xChart('bar', data3, '#funcespec');
    var myChart = new xChart('line-dotted', data4, '#lucromes');


    var hideOrShow = function () {
        switch (Number($('select[name=tipo]').val())) {
            case 1:
                <%console.log(osmes)%>
                $('#os-concluida-mes').show();
                $('#func-tipo').hide();
                $('#func-espec').hide();
                $('#lucro-mes').hide();
                break;
            case 2:
                $('#os-concluida-mes').hide();
                $('#func-tipo').show();
                $('#func-espec').hide();
                $('#lucro-mes').hide();
                break;
            case 3:
                $('#os-concluida-mes').hide();
                $('#func-tipo').hide();
                $('#func-espec').show();
                $('#lucro-mes').hide();
                break;
            case 4:
                $('#os-concluida-mes').hide();
                $('#func-tipo').hide();
                $('#func-espec').hide();
                $('#lucro-mes').show();
                break;
        }
    };
    $('select[name=tipo]').change(hideOrShow);
    $('document').ready(hideOrShow);
</script>
</body>
</html>